footer{
    background-color: rgb(107, 95, 95);

.bi-youtube{
    font-size: 40px;
    color: tercerColor
}

.bi-youtube:hover{
    color:red 
}

.bi-facebook{
    font-size: 40px;
    color: tercerColor
}

.bi-facebook:hover{
    color: blue;
}

.bi-whatsapp{
    font-size: 40px;
    color: tercerColor
}

.bi-whatsapp:hover{
    color: rgb(2, 109, 2);
}


}